.box #pro-2 {
    background-image: url(../image/profile/alison-profile.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-1 {
    background-image: url(../image/profile/alexandra-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-3 {
    background-image: url(../image/profile/amber-heard-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-4 {
    background-image: url(../image/profile/angelina-jolie-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-5 {
    background-image: url(../image/profile/anna-de-armas-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-6 {
    background-image: url(../image/profile/anne-hathaway-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-7 {
    background-image: url(../image/profile/barbara-palvin-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-8 {
    background-image: url(https://i.postimg.cc/0jxKPnqf/cara-delevingne.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-9 {
    background-image: url(../image/profile/cobie-smulders-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-10 {
    background-image: url(../image/profile/dakota-fanning-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-11 {
    background-image: url(../image/profile/elle-fanning-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-12 {
    background-image: url(../image/profile/emilia-clarke-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-13 {
    background-image: url(../image/profile/emma-roberts-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-14 {
    background-image: url(../image/profile/cobie-smulders-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}






.box #pro-35 {
    background-image: url(../image/profile/nell-tiger-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-36 {
    background-image: url(../image/profile/Deepika-Padukone-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-37 {
    background-image: url(../image/profile/bela-thorne-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-39 {
    background-image: url(../image/profile/miley-bobby-brown-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
























